Construction Project Scheduling Agent - Progress Checker.json
{
  "name": "Construction Project Scheduling Agent - Progress Checker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "e2508983-a4a0-4c57-b844-e45275790fe7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Task Status Update: {{ $('Get a task').all().length }} Tasks - {{ $('Get a task').first().json.projects[0].name }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n        .header { background-color: #2c3e50; color: white; padding: 20px; border-radius: 5px 5px 0 0; }\n        .content { padding: 20px; background-color: #f8f9fa; }\n        .task-card { background: white; padding: 15px; margin: 10px 0; border-left: 4px solid #3498db; border-radius: 3px; }\n        .completed { border-left-color: #27ae60; }\n        .pending { border-left-color: #e74c3c; }\n        .stats { display: flex; justify-content: space-around; margin: 20px 0; }\n        .stat-box { text-align: center; padding: 15px; background: white; border-radius: 5px; flex: 1; margin: 0 10px; }\n        .footer { background-color: #ecf0f1; padding: 15px; text-align: center; font-size: 12px; }\n    </style>\n</head>\n<body>\n    <div class=\"header\">\n        <h2>📊 Task Status Update Report</h2>\n        <p style=\"margin: 0;\">Generated on: {{ $now.format('MMMM DD, YYYY') }}</p>\n    </div>\n    \n    <div class=\"content\">\n        <h3>Project: {{ $('Get a task').first().json.projects[0].name }}</h3>\n        \n        <div class=\"stats\">\n            <div class=\"stat-box\">\n                <h3 style=\"color: #27ae60;\">✅ Completed</h3>\n                <p style=\"font-size: 24px; font-weight: bold;\">{{ $('Get a task').all().filter(item => item.json.completed === true).length }}</p>\n            </div>\n            <div class=\"stat-box\">\n                <h3 style=\"color: #e74c3c;\">⏳ Pending</h3>\n                <p style=\"font-size: 24px; font-weight: bold;\">{{ $('Get a task').all().filter(item => item.json.completed === false).length }}</p>\n            </div>\n            <div class=\"stat-box\">\n                <h3 style=\"color: #3498db;\">📋 Total Tasks</h3>\n                <p style=\"font-size: 24px; font-weight: bold;\">{{ $('Get a task').all().length }}</p>\n            </div>\n        </div>\n\n        <h3>Task Details:</h3>\n        \n        {{ $('Get a task').all().map(item => `\n            <div class=\"task-card ${item.json.completed ? 'completed' : 'pending'}\">\n                <h4 style=\"margin-top: 0;\">${item.json.completed ? '✅' : '⏳'} ${item.json.name}</h4>\n                <p><strong>Status:</strong> ${item.json.completed ? 'Completed' : 'Pending'}</p>\n                <p><strong>Due Date:</strong> ${item.json.due_on || 'Not set'}</p>\n                <p><strong>Assignee:</strong> ${item.json.assignee ? item.json.assignee.name : 'Unassigned'}</p>\n                ${item.json.completed ? `<p><strong>Completed At:</strong> ${new Date(item.json.completed_at).toLocaleDateString()}</p>` : ''}\n            </div>\n        `).join('') }}\n\n        <div style=\"margin-top: 30px; padding: 20px; background: #fff3cd; border-radius: 5px;\">\n            <h4 style=\"color: #856404; margin-top: 0;\">📌 Summary</h4>\n            <p>This automated report shows the current status of all tasks in the {{ $('Get a task').first().json.projects[0].name }} project. Tasks are monitored daily to ensure project milestones are met on schedule.</p>\n            <p><strong>Project Manager:</strong> {{ $('Get a task').first().json.notes.includes('john.smith@company.com') ? 'john.smith@company.com' : 'Not specified' }}</p>\n        </div>\n    </div>\n    \n    <div class=\"footer\">\n        <p>This is an automated email generated by the Task Management System</p>\n        <p>For questions, please contact your project manager</p>\n    </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1616,
        -80
      ],
      "id": "f1f10754-18ba-467e-a555-1fed7798e22a",
      "name": "Send a message",
      "webhookId": "529bca91-ebbc-48db-bdcc-e0167ab2fd5a",
      "credentials": {
        "gmailOAuth2": {
          "id": "qYt2LWCbLPbNK8xy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "project": "={{ $json.value }}",
          "completed_since": "2025-09-30T00:00:00"
        }
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "eba4cb25-7ea8-42ec-bfe5-d14b27c4b6b8",
      "name": "__CUSTOM_API_CALL__ taskProject",
      "credentials": {
        "asanaApi": {
          "id": "qVFfcYtXu0qL0bi7",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "112ohRpfeYyMEiK5YF4aQn64dHl-rduFpJLwtbR77YsA",
          "mode": "list",
          "cachedResultName": "Project Details",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/112ohRpfeYyMEiK5YF4aQn64dHl-rduFpJLwtbR77YsA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1536757028,
          "mode": "list",
          "cachedResultName": "Project id's",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/112ohRpfeYyMEiK5YF4aQn64dHl-rduFpJLwtbR77YsA/edit#gid=1536757028"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        0
      ],
      "id": "b5dcb22c-53d3-4ee9-bb06-22960ff8a57d",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uqDRuRBPXhQaPxkb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst items = $input.all();\n\n// Take the last item\nconst lastItem = items[items.length - 1].json;\n\n// Parse members (if present and not empty)\nlet members = [];\nif (lastItem.members && lastItem.members.trim() !== \"\") {\n  try {\n    members = JSON.parse(lastItem.members);\n  } catch (e) {\n    members = [];\n  }\n}\n\n// Extract emails\nconst emails = members.map(m => m.email);\n\n// Return value + emails\nreturn [\n  {\n    json: {\n      value: lastItem.value,\n      emails: emails\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "id": "746ce003-5bdf-434d-a79b-ba23ec84e9a4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "get",
        "id": "={{ $json.gid }}"
      },
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [
        880,
        0
      ],
      "id": "f37aa24d-35f2-446a-a804-e7ba0d5f28b3",
      "name": "Get a task",
      "credentials": {
        "asanaApi": {
          "id": "qVFfcYtXu0qL0bi7",
          "name": "Asana account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c82d297c-81ba-4df6-826d-611f1eb16652",
              "leftValue": "={{ $json.completed }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        0
      ],
      "id": "31d47d6a-4e32-411b-8b8b-6666b386e7b7",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const emails = $('Code in JavaScript').first().json.emails;\nreturn emails.map(email => {\n  return {\n    json: {\n      email: email,\n      value: $json.value\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -128
      ],
      "id": "880d7c97-1501-47df-8d39-ac38ebf1808c",
      "name": "Splitter"
    }
  ],
  "pinData": {
    "Get a task": [
      {
        "json": {
          "gid": "1211513055055744",
          "actual_time_minutes": null,
          "assignee": {
            "gid": "1211485241437909",
            "name": "Ahmad Imdad",
            "resource_type": "user"
          },
          "assignee_status": "inbox",
          "assignee_section": {
            "gid": "1211485241457195",
            "name": "Recently assigned",
            "resource_type": "section"
          },
          "completed": false,
          "completed_at": null,
          "created_at": "2025-09-30T18:57:43.780Z",
          "custom_fields": [],
          "due_at": null,
          "due_on": "2025-04-12",
          "followers": [
            {
              "gid": "1211485241437909",
              "name": "Ahmad Imdad",
              "resource_type": "user"
            }
          ],
          "hearted": false,
          "hearts": [],
          "liked": false,
          "likes": [],
          "memberships": [
            {
              "project": {
                "gid": "1211512941670173",
                "name": "Downtown Office Building",
                "resource_type": "project"
              },
              "section": {
                "gid": "1211512946064771",
                "name": "Untitled section",
                "resource_type": "section"
              }
            }
          ],
          "modified_at": "2025-09-30T18:57:45.207Z",
          "name": "🎯 PROJECT COMPLETE - Downtown Office Building",
          "notes": "✅ **Project Completion Milestone**\n\n**Project:** Downtown Office Building\n**Client:** ABC Construction\n**Total Duration:** 180 days\n**Total Budget:** $500,000\n**Phases Completed:** 3\n\n📊 **Phase Summary:**\n1. Foundation - 30 days\n2. Structure - 60 days\n3. Finishing - 90 days\n\n---\n*Project managed by: john.smith@company.com*",
          "num_hearts": 0,
          "num_likes": 0,
          "parent": null,
          "permalink_url": "https://app.asana.com/1/1211485241437921/project/1211512941670173/task/1211513055055744",
          "projects": [
            {
              "gid": "1211512941670173",
              "name": "Downtown Office Building",
              "resource_type": "project"
            }
          ],
          "resource_type": "task",
          "start_at": null,
          "start_on": null,
          "tags": [],
          "resource_subtype": "default_task",
          "workspace": {
            "gid": "1211485241437921",
            "name": "My workspace",
            "resource_type": "workspace"
          }
        }
      },
      {
        "json": {
          "gid": "1211512821233206",
          "actual_time_minutes": null,
          "assignee": {
            "gid": "1211485241437909",
            "name": "Ahmad Imdad",
            "resource_type": "user"
          },
          "assignee_status": "inbox",
          "assignee_section": {
            "gid": "1211485241457195",
            "name": "Recently assigned",
            "resource_type": "section"
          },
          "completed": false,
          "completed_at": null,
          "created_at": "2025-09-30T18:57:42.723Z",
          "custom_fields": [],
          "due_at": null,
          "due_on": "2025-04-12",
          "followers": [
            {
              "gid": "1211485241437909",
              "name": "Ahmad Imdad",
              "resource_type": "user"
            }
          ],
          "hearted": false,
          "hearts": [],
          "liked": false,
          "likes": [],
          "memberships": [
            {
              "project": {
                "gid": "1211512941670173",
                "name": "Downtown Office Building",
                "resource_type": "project"
              },
              "section": {
                "gid": "1211512946064771",
                "name": "Untitled section",
                "resource_type": "section"
              }
            }
          ],
          "modified_at": "2025-09-30T18:57:43.873Z",
          "name": "Finishing - Downtown Office Building",
          "notes": "📋 **Phase Details**\n\n**Description:** Interior finishing and final touches\n**Client:** ABC Construction\n**Project Manager:** john.smith@company.com\n**Phase 3 of 3**\n\n📅 **Timeline**\n• Start Date: Monday, January 13, 2025\n• End Date: Saturday, April 12, 2025\n• Duration: 90 days\n\n💰 **Budget**\n• Phase Budget: $250,000\n• Daily Rate: $2,778\n\n📊 **Progress**\n• Status: Not Started\n• Completion: 0%\n\n---\n*Created from Construction Project Scheduling Agent*",
          "num_hearts": 0,
          "num_likes": 0,
          "parent": null,
          "permalink_url": "https://app.asana.com/1/1211485241437921/project/1211512941670173/task/1211512821233206",
          "projects": [
            {
              "gid": "1211512941670173",
              "name": "Downtown Office Building",
              "resource_type": "project"
            }
          ],
          "resource_type": "task",
          "start_at": null,
          "start_on": null,
          "tags": [],
          "resource_subtype": "default_task",
          "workspace": {
            "gid": "1211485241437921",
            "name": "My workspace",
            "resource_type": "workspace"
          }
        }
      },
      {
        "json": {
          "gid": "1211512827703501",
          "actual_time_minutes": null,
          "assignee": {
            "gid": "1211485241437909",
            "name": "Ahmad Imdad",
            "resource_type": "user"
          },
          "assignee_status": "inbox",
          "assignee_section": {
            "gid": "1211485241457195",
            "name": "Recently assigned",
            "resource_type": "section"
          },
          "completed": false,
          "completed_at": null,
          "created_at": "2025-09-30T18:57:41.534Z",
          "custom_fields": [],
          "due_at": null,
          "due_on": "2025-01-12",
          "followers": [
            {
              "gid": "1211485241437909",
              "name": "Ahmad Imdad",
              "resource_type": "user"
            }
          ],
          "hearted": false,
          "hearts": [],
          "liked": false,
          "likes": [],
          "memberships": [
            {
              "project": {
                "gid": "1211512941670173",
                "name": "Downtown Office Building",
                "resource_type": "project"
              },
              "section": {
                "gid": "1211512946064771",
                "name": "Untitled section",
                "resource_type": "section"
              }
            }
          ],
          "modified_at": "2025-09-30T18:57:42.755Z",
          "name": "Structure - Downtown Office Building",
          "notes": "📋 **Phase Details**\n\n**Description:** Main structure construction\n**Client:** ABC Construction\n**Project Manager:** john.smith@company.com\n**Phase 2 of 3**\n\n📅 **Timeline**\n• Start Date: Thursday, November 14, 2024\n• End Date: Sunday, January 12, 2025\n• Duration: 60 days\n\n💰 **Budget**\n• Phase Budget: $166,667\n• Daily Rate: $2,778\n\n📊 **Progress**\n• Status: Not Started\n• Completion: 0%\n\n---\n*Created from Construction Project Scheduling Agent*",
          "num_hearts": 0,
          "num_likes": 0,
          "parent": null,
          "permalink_url": "https://app.asana.com/1/1211485241437921/project/1211512941670173/task/1211512827703501",
          "projects": [
            {
              "gid": "1211512941670173",
              "name": "Downtown Office Building",
              "resource_type": "project"
            }
          ],
          "resource_type": "task",
          "start_at": null,
          "start_on": null,
          "tags": [],
          "resource_subtype": "default_task",
          "workspace": {
            "gid": "1211485241437921",
            "name": "My workspace",
            "resource_type": "workspace"
          }
        }
      },
      {
        "json": {
          "gid": "1211512807674063",
          "actual_time_minutes": null,
          "assignee": {
            "gid": "1211485241437909",
            "name": "Ahmad Imdad",
            "resource_type": "user"
          },
          "assignee_status": "inbox",
          "assignee_section": {
            "gid": "1211485241457195",
            "name": "Recently assigned",
            "resource_type": "section"
          },
          "completed": false,
          "completed_at": null,
          "created_at": "2025-09-30T18:57:40.437Z",
          "custom_fields": [],
          "due_at": null,
          "due_on": "2024-11-13",
          "followers": [
            {
              "gid": "1211485241437909",
              "name": "Ahmad Imdad",
              "resource_type": "user"
            }
          ],
          "hearted": false,
          "hearts": [],
          "liked": false,
          "likes": [],
          "memberships": [
            {
              "project": {
                "gid": "1211512941670173",
                "name": "Downtown Office Building",
                "resource_type": "project"
              },
              "section": {
                "gid": "1211512946064771",
                "name": "Untitled section",
                "resource_type": "section"
              }
            }
          ],
          "modified_at": "2025-09-30T18:57:41.665Z",
          "name": "Foundation - Downtown Office Building",
          "notes": "📋 **Phase Details**\n\n**Description:** Foundation and groundwork\n**Client:** ABC Construction\n**Project Manager:** john.smith@company.com\n**Phase 1 of 3**\n\n📅 **Timeline**\n• Start Date: Tuesday, October 15, 2024\n• End Date: Wednesday, November 13, 2024\n• Duration: 30 days\n\n💰 **Budget**\n• Phase Budget: $83,333\n• Daily Rate: $2,778\n\n📊 **Progress**\n• Status: Not Started\n• Completion: 0%\n\n---\n*Created from Construction Project Scheduling Agent*",
          "num_hearts": 0,
          "num_likes": 0,
          "parent": null,
          "permalink_url": "https://app.asana.com/1/1211485241437921/project/1211512941670173/task/1211512807674063",
          "projects": [
            {
              "gid": "1211512941670173",
              "name": "Downtown Office Building",
              "resource_type": "project"
            }
          ],
          "resource_type": "task",
          "start_at": null,
          "start_on": null,
          "tags": [],
          "resource_subtype": "default_task",
          "workspace": {
            "gid": "1211485241437921",
            "name": "My workspace",
            "resource_type": "workspace"
          }
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "__CUSTOM_API_CALL__ taskProject": {
      "main": [
        [
          {
            "node": "Get a task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "__CUSTOM_API_CALL__ taskProject",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a task": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Splitter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splitter": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "24846df3-8ede-44e8-9e65-57bb85740214",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e76781effe17f1b357b0ae2f35c7c1f8ca958ced2961251e30cfe8b1879faddf"
  },
  "id": "RqgZvEcu9xRRdgHL",
  "tags": []
}