Food & Beverage - Order Management System with WhatsApp.json
{
  "name": "Food & Beverage - Order Management System with WhatsApp",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-order",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "02c61d94-2342-4d98-86b0-039f2af42c0e",
      "name": "Receive Online Order",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -240,
        224
      ],
      "webhookId": "food-order-webhook"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "order-details",
              "name": "orderDetails",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "order-id",
              "name": "orderId",
              "value": "={{ $json.orderId || 'ORD-' + Date.now() }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "orderTimestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "items",
              "name": "orderItems",
              "value": "={{ $json.items }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "9d4b0e83-0dd9-4176-b453-ca534858d2fd",
      "name": "Format Order Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -16,
        224
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xfBX7Cue737sYyfGAN18UFsmqZVm82MRN-lbegNqoi8",
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xfBX7Cue737sYyfGAN18UFsmqZVm82MRN-lbegNqoi8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xfBX7Cue737sYyfGAN18UFsmqZVm82MRN-lbegNqoi8/edit#gid=0"
        },
        "options": {}
      },
      "id": "dd202128-109c-43c9-94e8-c29f31cdda3c",
      "name": "Check Inventory",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        208,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uqDRuRBPXhQaPxkb",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get order items from the Format Order Data node\nconst formatOrderData = $('Format Order Data').item.json;\nconst orderItems = formatOrderData.orderItems || formatOrderData.items || [];\n\n// Get inventory data from the current input\nconst inventory = $input.all().map(item => item.json);\n\nlet canFulfillOrder = true;\nlet insufficientItems = [];\nlet itemsToDeduct = [];\n\n// Check each ordered item against inventory\nfor (const orderItem of orderItems) {\n  const inventoryItem = inventory.find(inv => \n    inv.itemName?.toLowerCase() === orderItem.name?.toLowerCase()\n  );\n  \n  if (!inventoryItem) {\n    canFulfillOrder = false;\n    insufficientItems.push({\n      item: orderItem.name,\n      reason: 'Item not found in inventory'\n    });\n  } else {\n    const availableQty = parseFloat(inventoryItem.quantity || 0);\n    const requiredQty = parseFloat(orderItem.quantity || 0);\n    \n    if (availableQty < requiredQty) {\n      canFulfillOrder = false;\n      insufficientItems.push({\n        item: orderItem.name,\n        available: availableQty,\n        required: requiredQty,\n        shortage: requiredQty - availableQty\n      });\n    } else {\n      itemsToDeduct.push({\n        itemName: inventoryItem.itemName,\n        currentQty: availableQty,\n        deductQty: requiredQty,\n        newQty: availableQty - requiredQty,\n        reorderLevel: parseFloat(inventoryItem.reorderLevel || 10),\n        unit: inventoryItem.unit,\n        supplier: inventoryItem.supplier,\n        row: inventoryItem.row_number || 2\n      });\n    }\n  }\n}\n\n// Return the results\nreturn {\n  canFulfillOrder,\n  insufficientItems,\n  itemsToDeduct,\n  orderDetails: formatOrderData\n};"
      },
      "id": "505dfb6e-32f9-49f6-b77f-54bdbd6e01bc",
      "name": "Validate Inventory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "9ba39d25-1088-4727-9535-2e4b7764d5a0",
              "leftValue": "={{ $json.canFulfillOrder }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1f6d9714-bc88-4e37-a156-4323eccc5ec8",
      "name": "Can Fulfill Order?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        656,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.green-api.com/waInstance{{ $credentials.instanceId }}/sendMessage/{{ $credentials.apiToken }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatId\": \"923001234567@c.us\",\n  \"message\": \"🍳 *NEW ORDER #{{ $('Format Order Data').item.json.orderId }}*\\n\\n📋 *Order Items:*\\n{{ $('Format Order Data').item.json.orderItems.map(item => `• ${item.name} x${item.quantity}`).join('\\n') }}\\n\\n👤 *Customer:* {{ $('Format Order Data').item.json.orderDetails.customerName }}\\n📱 *Phone:* {{ $('Format Order Data').item.json.orderDetails.customerPhone }}\\n💰 *Total:* ${{ $('Format Order Data').item.json.orderDetails.totalAmount }}\\n\\n⏰ *Received:* {{ new Date().toLocaleTimeString() }}\\n\\n✅ Please start preparation immediately!\"\n}",
        "options": {}
      },
      "id": "e4d44802-ad65-417d-b127-ec6c0d7ff7e9",
      "name": "WhatsApp to Kitchen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        128
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_INVENTORY_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Inventory",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "44d1d20b-8291-4158-ab76-e1b30efa10d1",
      "name": "Update Inventory",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1104,
        32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1Zc1b1PrXB2iKFX",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.newQty }}",
              "operation": "smaller",
              "value2": "={{ $json.reorderLevel }}"
            }
          ]
        },
        "options": {}
      },
      "id": "62b53306-a005-4319-9d2b-899ba2f34bd4",
      "name": "Check Reorder Level",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1328,
        32
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.supplier }}",
        "subject": "=Urgent: Reorder Request - {{ $json.itemName }} Low Stock",
        "message": "=<h2>Automatic Reorder Request</h2>\n\n<p>Dear Supplier,</p>\n\n<p>Our inventory system has detected low stock levels for the following item:</p>\n\n<table style=\"border-collapse: collapse; width: 100%;\">\n  <tr style=\"background-color: #f2f2f2;\">\n    <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Item Name</th>\n    <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Current Stock</th>\n    <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Unit</th>\n    <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Reorder Level</th>\n    <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Suggested Order</th>\n  </tr>\n  <tr>\n    <td style=\"border: 1px solid #ddd; padding: 12px;\"><strong>{{ $json.itemName }}</strong></td>\n    <td style=\"border: 1px solid #ddd; padding: 12px; color: red;\">{{ $json.newQty }}</td>\n    <td style=\"border: 1px solid #ddd; padding: 12px;\">{{ $json.unit }}</td>\n    <td style=\"border: 1px solid #ddd; padding: 12px;\">{{ $json.reorderLevel }}</td>\n    <td style=\"border: 1px solid #ddd; padding: 12px; color: green; font-weight: bold;\">{{ Math.ceil($json.reorderLevel * 3) }} {{ $json.unit }}</td>\n  </tr>\n</table>\n\n<p><strong>Restaurant Details:</strong><br>\nThe Gourmet Kitchen<br>\n123 Restaurant Street, Food District<br>\nPhone: +92-300-1234567</p>\n\n<p>Please process this order urgently and confirm receipt with delivery timeline.</p>\n\n<p><em>Order Generated: {{ new Date().toLocaleString() }}</em></p>\n\n<p>Thank you for your prompt attention to this matter.</p>\n\n<p>Best Regards,<br>\n<strong>Automated Inventory System</strong></p>",
        "options": {
          "replyTo": "orders@restaurant.com"
        }
      },
      "id": "7dc181ee-95c7-4f77-83ae-308c5d8a6331",
      "name": "Email Supplier",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1552,
        -64
      ],
      "webhookId": "c66447b5-23c1-4725-9c51-ccfc96d7795d",
      "credentials": {
        "gmailOAuth2": {
          "id": "qYt2LWCbLPbNK8xy",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.green-api.com/waInstance{{ $credentials.instanceId }}/sendMessage/{{ $credentials.apiToken }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatId\": \"{{ $json.supplier.replace('supplier', '').replace('@', '').replace('.com', '') }}@c.us\",\n  \"message\": \"🚨 *URGENT REORDER ALERT*\\n\\n📦 *Item:* {{ $json.itemName }}\\n📊 *Current Stock:* {{ $json.newQty }} {{ $json.unit }}\\n⚠️ *Reorder Level:* {{ $json.reorderLevel }} {{ $json.unit }}\\n\\n🛒 *Suggested Order:* {{ Math.ceil($json.reorderLevel * 3) }} {{ $json.unit }}\\n\\n📧 Detailed purchase order sent via email.\\nPlease confirm receipt and delivery timeline.\\n\\n*The Gourmet Kitchen*\\n_Automated Inventory System_\"\n}",
        "options": {}
      },
      "id": "6278c1d3-748c-49a5-93f3-9543f46c5390",
      "name": "WhatsApp to Supplier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1552,
        128
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_ORDER_LOG_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Orders",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "606bf441-ccdd-4832-b436-143ea7bda1af",
      "name": "Log Order",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1104,
        224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "F1Zc1b1PrXB2iKFX",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"orderId\": \"{{ $('Format Order Data').item.json.orderId }}\",\n  \"status\": \"confirmed\",\n  \"message\": \"Order received and being processed\",\n  \"estimatedTime\": \"20-30 minutes\",\n  \"items\": {{ JSON.stringify($('Format Order Data').item.json.orderItems) }},\n  \"totalAmount\": {{ $('Format Order Data').item.json.orderDetails.totalAmount }}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "488303b7-7926-4a53-9f71-079dcb113824",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1328,
        224
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": false,\n  \"orderId\": \"{{ $('Format Order Data').item.json.orderId }}\",\n  \"status\": \"rejected\",\n  \"message\": \"Unable to fulfill order due to insufficient inventory\",\n  \"insufficientItems\": {{ JSON.stringify($json.insufficientItems) }},\n  \"suggestion\": \"Please remove out-of-stock items or reduce quantities\"\n}",
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      },
      "id": "825d7aca-6210-48a6-aad9-8b576027593d",
      "name": "Failure Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1104,
        416
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.green-api.com/waInstance{{ $credentials.instanceId }}/sendMessage/{{ $credentials.apiToken }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatId\": \"{{ $('Format Order Data').item.json.orderDetails.customerPhone }}@c.us\",\n  \"message\": \"❌ *Order Cannot Be Processed*\\n\\n*Order #{{ $('Format Order Data').item.json.orderId }}*\\n\\nUnfortunately, we cannot process your order due to insufficient inventory:\\n\\n{{ $json.insufficientItems.map(item => `• ${item.item}: Available ${item.available || 0}, Requested ${item.required}`).join('\\n') }}\\n\\nPlease modify your order or contact us for alternatives.\\n\\n📞 Restaurant: +92-300-1234567\\n\\nWe apologize for the inconvenience.\"\n}",
        "options": {}
      },
      "id": "b3eb9e35-3ca4-40b4-8a57-e4cc04e572cd",
      "name": "WhatsApp Customer (Failed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        416
      ]
    },
    {
      "parameters": {
        "content": "## Food & Beverage Order Management with WhatsApp\n\n### Features:\n1. **Webhook** receives online orders\n2. **Google Sheets** checks real-time inventory\n3. **Validation** determines if order can be fulfilled\n4. **WhatsApp via Green API** notifies kitchen staff\n5. **Auto-update** inventory levels\n6. **Smart Reorder** sends supplier requests via Email + WhatsApp\n7. **Order Logging** tracks all transactions\n\n### Configuration Required:\n- Google Sheets (Inventory + Orders)\n- Green API WhatsApp Business\n- Gmail for supplier emails\n\n### Green API Setup:\n1. Register at green-api.com\n2. Get Instance ID & API Token\n3. Configure in HTTP Header Auth",
        "height": 400,
        "width": 400
      },
      "id": "3659939c-7a79-4407-a0fc-bbd7f67690b9",
      "name": "Workflow Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -464,
        -480
      ]
    }
  ],
  "pinData": {
    "Receive Online Order": [
      {
        "json": {
          "customerName": "Test Customer",
          "customerPhone": "923219999999",
          "customerEmail": "test@email.com",
          "items": [
            {
              "name": "Chicken Breast",
              "quantity": 2,
              "unit": "kg"
            },
            {
              "name": "Basmati Rice",
              "quantity": 1,
              "unit": "kg"
            },
            {
              "name": "Tomatoes",
              "quantity": 3,
              "unit": "kg"
            }
          ],
          "totalAmount": 2500,
          "paymentMethod": "card",
          "deliveryAddress": "Test Address, Lahore"
        }
      }
    ],
    "Validate Inventory": [
      {
        "json": {
          "canFulfillOrder": true,
          "insufficientItems": [],
          "itemsToDeduct": [
            {
              "itemName": "Chicken Breast",
              "currentQty": 25,
              "deductQty": 2,
              "newQty": 23,
              "reorderLevel": 10,
              "unit": "kg",
              "supplier": "supplier923001111111@gmail.com",
              "row": 2
            },
            {
              "itemName": "Basmati Rice",
              "currentQty": 50,
              "deductQty": 1,
              "newQty": 49,
              "reorderLevel": 20,
              "unit": "kg",
              "supplier": "supplier923002222222@gmail.com",
              "row": 3
            },
            {
              "itemName": "Tomatoes",
              "currentQty": 30,
              "deductQty": 3,
              "newQty": 27,
              "reorderLevel": 15,
              "unit": "kg",
              "supplier": "supplier923003333333@gmail.com",
              "row": 4
            }
          ],
          "orderDetails": {
            "orderDetails": {
              "customerName": "Test Customer",
              "customerPhone": "923219999999",
              "customerEmail": "test@email.com",
              "items": [
                {
                  "name": "Chicken Breast",
                  "quantity": 2,
                  "unit": "kg"
                },
                {
                  "name": "Basmati Rice",
                  "quantity": 1,
                  "unit": "kg"
                },
                {
                  "name": "Tomatoes",
                  "quantity": 3,
                  "unit": "kg"
                }
              ],
              "totalAmount": 2500,
              "paymentMethod": "card",
              "deliveryAddress": "Test Address, Lahore"
            },
            "orderId": "ORD-1759297125220",
            "orderTimestamp": "2025-10-01T05:38:45.221Z",
            "orderItems": [
              {
                "name": "Chicken Breast",
                "quantity": 2,
                "unit": "kg"
              },
              {
                "name": "Basmati Rice",
                "quantity": 1,
                "unit": "kg"
              },
              {
                "name": "Tomatoes",
                "quantity": 3,
                "unit": "kg"
              }
            ]
          }
        }
      }
    ]
  },
  "connections": {
    "Receive Online Order": {
      "main": [
        [
          {
            "node": "Format Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Order Data": {
      "main": [
        [
          {
            "node": "Check Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Inventory": {
      "main": [
        [
          {
            "node": "Validate Inventory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Inventory": {
      "main": [
        [
          {
            "node": "Can Fulfill Order?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Can Fulfill Order?": {
      "main": [
        [
          {
            "node": "WhatsApp to Kitchen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Customer (Failed)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp to Kitchen": {
      "main": [
        [
          {
            "node": "Update Inventory",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Inventory": {
      "main": [
        [
          {
            "node": "Check Reorder Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Reorder Level": {
      "main": [
        [
          {
            "node": "Email Supplier",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhatsApp to Supplier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Order": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Customer (Failed)": {
      "main": [
        [
          {
            "node": "Failure Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "708519ca-dba0-48bc-acfa-28ff1372bc11",
  "meta": {
    "instanceId": "e76781effe17f1b357b0ae2f35c7c1f8ca958ced2961251e30cfe8b1879faddf"
  },
  "id": "OhZyxyjQmNTGztD2",
  "tags": []
}